{form name='settings'}
<table class="ow_table_1 ow_form ow_automargin">
    <tr class="ow_alt1">
        <td class="ow_value">OpenID Server Provider URL #?#</td>
        <td class="ow_value">{input name='openidconnect_provider_url'}</td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_value">OpenID Server Provider Logout URL #?#</td>
        <td class="ow_value">{input name='openidconnect_logout_url'}</td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_value">OpenID Server Change Password URL #?#</td>
        <td class="ow_value">{input name='openidconnect_changepassword_url'}</td>
    </tr>
    <tr>
        <td colspan="2" class="ow_center">{submit name='add' class='ow_button ow_ic_save'}</td>
    </tr>
</table>
{/form}